body{
    font-family: 'Bebas Neue', cursive;
}
h1{
    font-size: 50px;
}
.navy{
    color: navy
}
p{
    text-align: justify;
    width: 50%;
}
section{
    display: flex;
}
.half{
    padding-left: 5%;
    width: 50%;
}
.half img{
    width: 70%;
    padding-top: 5%;
    
}
.half p{
    width: 90%;
}